body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  width: 100%;
  height: 3.5rem;
  background-color: #9fce05;
  padding: 0 1.5rem;
}
main {
  margin: 0 1rem;
}
.main_header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item {
  margin: 0 0.5rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ab4704;
  font-weight: bold;
  background-color: #b8ec0d;
}
.form-control {
    margin: 1rem 0;
  }
  .form-control label,
  .form-control input {
    display: block;
  }
  .form-control input {
    border: 1px solid #2007c4;
    font: inherit;
    border-radius: 2px;
  }
  button {
    font: inherit;
    border: 0.5px solid black;
    background-color: #fffffe;
    border-radius: 2px;
    cursor: pointer;
  }
  button:hover,
  button:active {
    background-color: blue;
    color: white;
  }